

#container{
    background-color:lightgrey;
    border: 1px solid;
    padding: 25px;
    margin: 700px;
    width: 400px;
    height: 400px;
    float: left;
}


#heading{
    color: yellow;
    text-decoration:underline;
    text-align: center;
}
#content{
    color:red
}